   .container {
       width: 200px;
       height: 150px;
       
       display: flex;
       justify-content: center;
       align-items: center;
       /* Ajuste a altura da container para que a imagem fique centralizada verticalmente */
       height: 100vh; /* Ou outro valor que corresponda à altura do conteúdo */
   }
  .myimg{
width: 200px;
height: auto;
}
/* CSS interno */
<style>
  p {
    color: blue; /* Define a cor do texto como azul */
    background-color: #f0f0f0; /* Define a cor de fundo como cinza claro */
  }

  h1 {
    color: rgb(255, 0, 0); /* Define a cor do texto como vermelho (RGB) */
  }

  body {
    background-color: hsl(200, 100%, 50%); /* Define a cor de fundo (HSL) */
  }
</style>